<header class="masthead mb-auto">
    <div class="d-flex justify-content-between align-items-center">
        <h3>
            <a class="btn fs-2 text-white fw-bold" href="/">Nedall</a>
        </h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="btn fw-bold <%= currentPage == "login" ? "btn-light" : null  %>" href="/login">log in</a>
            <a class="btn fw-bold <%= currentPage == "signup" ? "btn-light" : null  %>" href="/signup">sign up</a>
        </nav>
    </div>
</header>